.icon{
    /* background-color: yellowgreen; */

    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot1{
   
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
    background-color: #2C3E50;
} 

.footend{
    background-color: #1A252F;
    color: white;

    height: 60px;
}