<div class=" foot1">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="text-center ">
                <h3>LOCATION</h3>
                <p>2215 John Daniel Drive <br>Clark, MO 65243

                </p>
            </div>

            </div>

            <div class="col-md-4">
                <div class="text-center ">
                <h3>AROUND THE WEB</h3>
             <div class="icons d-flex text-center  align-items-center justify-content-center">
                <div class="icon">
                    <i class="fa-brands fa-facebook fa-xl"></i>
                </div>
                <div class="icon">
                    <i class="fa-brands fa-twitter fa-xl"></i>
                </div>
                <div class="icon">
                    <i class="fa-brands fa-linkedin fa-xl"></i>
                </div>
                <div class="icon">
                    <i class="fa-brands fa-youtube fa-xl"></i>
                </div>

             </div>
            </div>

            </div>

            <div class="col-md-4">
                <div class="text-center">
                <h3>ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route

                </p>
            </div>

            </div>

        </div>
    </div>
</div>
<div class="footend d-flex align-items-center justify-content-center">
    
        <p>Copyright © Your Website 2021</p>

</div>