.title i{
    position: absolute;
    bottom: 5%;
    right: 49%;
    /* background-color: yellowgreen; */
}

.title::before{
    content: "";
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: 0;
    right: 40%;
    background-color:#2C3E50;
}

.title::after{
    content: "";
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 40%;
    background-color:#2C3E50;
}

.title{
    color: #2C3E50;
}
