<div class="contact">
    <div class="title position-relative ">
        <h1 class="py-5 text-center fw-bold">CONATCT SECTION</h1>
        <i class="fa-solid fa-star fa-lg "></i>
    
    
    </div>

    <div class="contactForm w-50 mx-auto py-5 ">
        <label class="w-100" for="userName">user Name:</label>
        <input class="w-100" type="text" placeholder="enter user name" id="userName">

        <label class="w-100" for="userAge">user Age:</label>
        <input type="number" class="w-100" placeholder="enter user age" id="userAge">

        <label for="userEmail" class="w-100">user Email:</label>
        <input type="email" class="w-100" placeholder="enter user email" id="userEmail">

        <label for="userPassword" class="w-100">user Name:</label>
        <input type="password" class="w-100" placeholder="enter user password" id="userPassword">

        <button class="btn my-4 btn-success">send message</button>

       


    </div>
    
</div>