.title i{
    position: absolute;
    bottom: 5%;
    right: 49%;
    /* background-color: yellowgreen; */
}

.title::before{
    content: "";
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: 0;
    right: 40%;
    background-color:#2C3E50;
}

.title::after{
    content: "";
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 40%;
    background-color:#2C3E50;
}

label{
    color: #1ABC9C;
}

input{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 5px;
    border-bottom: 1px solid gray;
    margin-top: 5px;
    margin-bottom: 10px;

}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1ABC9C;
    --bs-btn-border-color: #1ABC9C;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3fb47d;
    --bs-btn-hover-border-color: #3fb47d;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3fb47d;
    --bs-btn-active-border-color: #3fb47d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #1ABC9C;
    --bs-btn-disabled-border-color: #1ABC9C;
  }


  .contact{
    color: #2C3E50;
}