<div class="home">
    <div>
        <div class="img  text-center mx-auto">
            <img src="./assets/images/avataaars.svg" class="img-fluid" alt="">
        </div>
        <div class="title position-relative ">
            <h1 class="py-5 text-center fw-bold">START FRAMEWORK</h1>
            <i class="fa-solid fa-star fa-lg "></i>


        </div>


        <div class="text-center py-2 fw-medium">
            <p>Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</div>
